.container{
    .back-btn{
        text-decoration: none;
        color: black;
        font-size: $font-size-back-btn;
        font-family: $font-family-sans-serif;
        line-height: $line-height-base;
    }
}
