// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$font-size-back-btn: 1.5rem;
$line-height-base: 1.6;

$background-dark: #121212;
$card-dark: #1e1e1e;
$red-main: #dc3545;
$red-hover: #c82333;
$red-border-hover: #bd2130;
$text-light: #f0f0f0;
