
body {
    margin:0px;
    padding: 0px;

    .container_dashboard {
        background: yellow;
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-direction: row;


        .navbar_dashboard {
            background: red;
            width: 300px;
        }
    }
}
