body{
    .dashboard-layout{
        display: flex;

        .sidebar{
            background: #f0f0f0;
            width: 250px;
            height: 100vh;
            padding: 20px;
        }
    }
}
