body{
    .dashboard-layout{
        display: flex;

        .sidebar {
          background-color: #1e1e1e;
          color: #f0f0f0;
          width: 300px;
          padding: 1.5rem;

          h2 {
            color: #dc3545;
            margin-top: 1rem;
            margin-bottom: 1rem;
          }

          ul {
            padding-left: 0;

            li {
              margin-bottom: 0.5rem;

              a {
                color: #f0f0f0;
                text-decoration: none;

                &:hover {
                  color: #dc3545;
                }
              }

              strong {
                display: block;
                margin-bottom: 0.25rem;
                font-weight: 600;
              }
            }
          }
        }

    }
}


